@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  fill: #101113;
  background: black;
  color: white;
  font-family: "Bonheur Royale", cursive;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  scroll-behavior: smooth;
}

.gradient-light {
  background: linear-gradient(90deg, #e2963b 1.22%, #89393b 100%);
}

.gradient-dark {
  background: linear-gradient(90deg, #e2603b 4.22%, #89393b 100%);
  box-shadow: inset 21px 13px 12px #89393b;
}

.gradient-logo {
  background: linear-gradient(
    269.78deg,
    rgba(255, 255, 255, 0) 0.19%,
    #ffffff 91.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btn-border-gradient {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(255,255,255,1) 49%, rgba(0,0,0,1) 90%);
  border-radius: 0px 80px;
  padding: 1px;
}

.btn {
  min-width: 100px;
  border-radius: 0px 80px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
